@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap");

/* Import de la font Syne depuis Google Fonts et on l'applique sur tous les éléments de la page */
body * {
  font-family: "Syne", sans-serif;
  font-size: 16px;
}

/*****************/
/*HEADER*/
/*****************/

#main-header .site-container {
  padding: 0;
  margin: 0;
}

.header-html-inner {
  font-weight: 600;
}

#menu-item-54 {
  background-color: #dc9f96;
}

#menu-item-54:hover {
  background-color: #c02e44;
}

#menu-item-54 a {
  color: white;
  font-weight: 700;
}

#menu-item-53 a:hover,
.lien_admin a:hover {
  font-size: 13px;
  font-weight: 700;
  color: black;
}

#menu-item-39 a:hover {
  font-size: 13px !important;
  font-weight: 700;
  color: black;
}

.lien_admin a {
  text-decoration: none;
  margin-right: 60px;
  margin-left: 60px;
}

/*****************/
/*ACCUEIL*/
/*****************/

.is-style-fill > a {
  width: 198px !important;
  height: 55px !important;
  padding-top: 15px !important;
}

.is-style-fill:hover {
  background: #c02e44 !important;
  border-radius: 5px;
}
h1 {
  font-size: 2.38rem;
}

.titre_accueil {
  width: 781px;
  margin: 0 auto;
}

.kb-row-layout-id_b9b7ff-8c > .kt-row-column-wrap {
  padding: 0 !important;
}

/*****************/
/*NOUS RENCONTRER*/
/*****************/

.section_rencontrer_top {
  position: relative;
}

.rencontrer_top_flower > figure.aligncenter {
  position: absolute;
  right: 77%;
  top: 67px;
}
.rencontrer_text {
  width: 75%;
  margin: 0 auto;
}

.team_section {
  background-size: cover;
  background-position: 53% 0%;
}

/*formulaire*/

.section_contacter {
  align-items: center;
}

#wpcf7-f260-p27-o1 .wpcf7-form {
  margin: 45px auto;
  width: 383px;
  position: relative;
  text-align: left;
  z-index: 1;
  overflow: initial;
}

.img_bg_form {
  position: absolute;
  width: 50%;
  margin-top: -273px;
  margin-left: -86px;
  z-index: -1;
}

#wpcf7-f260-p27-o1 .wpcf7-submit {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 198px;
  height: 55px;
  background: #e0b9b4;
  color: white;
  padding: 15px 0;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
}

#wpcf7-f260-p27-o1 .wpcf7-submit:hover {
  background-color: #c02e44;
}
#wpcf7-f260-p27-o1 .wpcf7-text {
  width: 383px;
  height: 71px;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
  border-radius: 7px;
}

#wpcf7-f260-p27-o1 .wpcf7-textarea {
  width: 383px;
  height: 237px;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
  border-radius: 7px;
}

.feuille_og img {
  width: 105%;
  height: auto;
  margin-bottom: -214% !important;
  margin-left: 130px;
  margin-top: -217px;
  bottom: -41px;
  position: relative;
}

.kadence-column_3aa59e-44 {
  margin-bottom: -15px;
}

/************/
/* PAGE COMMANDER*/
/************/

.page-id-25 #primary {
  background: #3b8e46 !important;
}

.images_container {
  gap: 25px;
}

.image {
  min-width: 192px;
}

/* SEPARATEUR*/

hr.wp-block-separator.is-style-wide {
  height: 0.5px !important;
}

/*formulaire quantite*/

.form_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_quantite {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 center;
  margin-bottom: 50px;
}

.quantite {
  display: flex;
  gap: 10px;
  width: 23%;
  height: 56px;
}
.form_container hr.form-separateur {
  margin-bottom: 50px;
  height: 0.5px !important;
  color: white;
  width: 100%;
}
/*boutons formulaire*/
.number {
  display: flex;
  width: 50%;
}
.boutons {
  height: 56px;
}
.number .boutons button[type="button"]:last-child {
  color: white;
  line-height: 0.9;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0px;
}
.number .boutons button[type="button"]:first-child {
  color: white;
  line-height: 0.9;
  border-top-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom: 1px solid white;
}

.quantite .number input[type="number"] {
  width: 43px;
  height: 55px;
  background-color: white !important;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
  border-top-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-right: 1px solid;
  position: relative;
  z-index: 999;
  background-size: cover;
  background-color: transparent;
  border: none;
}

.quantite input[type="submit"] {
  width: 100%;
  height: 56px;
  border-radius: 5px;
  color: white;
}

.quantite img {
  height: 56px;
  width: 31px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  /* Désactiver l'apparence par défaut des flèches */
  appearance: none;
}

/*formulaire livraison*/

#wpcf7-f322-p25-o1 {
  display: flex;
}

#wpcf7-f776-p25-o3 {
  width: 860px;
  margin: 0 auto;
}

#formulaire {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#formulaire .section_1 {
  border-right: 1px solid white;
  padding-right: 70px;
}
#formulaire h3 {
  font-size: 1.88rem;
  color: white;
}
#formulaire label {
  font-size: 20px;
  font-weight: 400;
  color: white;
}

#formulaire input {
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
  border-radius: 7px;
}

#wpcf7-f322-p25-o2 input[type="submit"],
.btn_commander {
  display: block;
  margin: 40px auto;
  width: 198px;
  height: 55px;
  color: white !important;
  background: #e0b9b4;
  border-radius: 5px;
}

#wpcf7-f322-p25-o2 input[type="submit"]:hover,
#wpcf7-f776-p25-o3 input[type="submit"]:hover {
  background: #c02e44;
}

/*****************/
/*FOOTER*/
/****************



/*****************/
/* MEDIA QUERIES*/
/****************/

@media screen and (min-width: 319px) and (max-width: 782px) {
  /*ACCUEIL*/

  .titre_accueil {
    font-size: 1.5rem !important;
    margin: 0 auto !important;
    width: 100% !important;
  }

  .row_title {
    margin-top: 40px !important;
  }
  .image_accueil > figure > .wp-image-165 {
    margin-top: -60px;
  }
  .image_accueil > figure > .wp-image-165 {
    margin: 0 auto;
    max-width: 151% !important;
    width: 100%;
  }
  h2.titre_accueil_02,
  h2.testimonial_title {
    font-size: 1.35rem !important;
  }

  .kadence-column_580ff1-20 p {
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 1.25rem !important;
  }

  .titre_banniere {
    font-size: 1.5em !important;
  }
  .testimonial_column {
    width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .full_width {
    width: 100% !important;
    padding: 0;
  }

  .kb-row-layout-id_b9b7ff-8c > .kt-row-column-wrap {
    padding: 0 !important;
  }

  .testimonial_title {
    padding-top: 40px !important;
  }

  .testimonial_media > figure > img {
    width: 50% !important;
    margin: 0 auto !important;
    padding-bottom: 35px !important;
  }

  .testimonial_name {
    padding-top: 10px !important;
    text-align: center;
    font-size: 1.75em !important;
  }

  .testimonial_text {
    padding-bottom: 20px !important;
    text-align: center;
    font-size: 1.25em;
  }

  .site-middle-footer-inner-wrap {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    grid-row-gap: 0px !important;
  }

  /* RENCONTRER*/
  .rencontrer_titre {
    font-size: 1.125rem !important;
    margin: 0.5em !important;
  }
  .rencontrer_top_flower > figure.aligncenter {
    position: initial;
    width: 20%;
  }

  .rencontrer_titre_column {
    padding-top: 0px !important;
  }
  .rencontrer_text {
    font-size: 1.125rem !important;
  }

  /*COMMANDER*/

  .titre_commander {
    font-size: 1.325em !important;
  }

  .votre_commande {
    text-align: center !important;
    font-size: 1.5em !important;
  }

  /*formulaire*/

  .form_container {
    width: 100%;
    margin: 0 auto;
  }
  #wpcf7-f322-p25-o1,
  #wpcf7-f776-p25-o3 {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .form_quantite {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
  }

  .form_quantite .label {
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  hr.form-separateur {
    margin-top: 40px !important;
    width: 70% !important;
  }
  .quantite {
    display: flex;
    gap: 10px;
    width: 192px;
  }

  .wpcf7-f260-p27-o1 .wpcf7-text,
  #wpcf7-f776-p25-o3 .wpcf7-text {
    width: 100%;
  }

  #wpcf7-f260-p27-o1 .wpcf7-textarea,
  #wpcf7-f776-p25-o3 .wpcf7-textarea {
    width: 100%;
  }

  /*fomulaire commander livraison*/

  #formulaire {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #formulaire h3 {
    font-size: 1.5rem;
  }
  #formulaire .section_1 {
    border-right: none;
    border-bottom: 1px solid white;
    padding-bottom: 40px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding-right: 0px;
    width: 100%;
  }

  #formulaire .section_2 {
    margin-top: 25px !important;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding-left: 0px !important;
    width: 100%;
  }

  #formulaire label {
    font-size: 20px;
    font-weight: 400;
    color: white;
  }

  #formulaire input {
    background: #ffffff;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
    border-radius: 7px;
  }

  #wpcf7-f322-p25-o2 input[type="submit"],
  #wpcf7-f776-p25-o3 input [type="submit"] {
    display: block;
    margin: 40px auto;
    width: 198px;
    height: 55px;
    color: white;
    background: #e0b9b4;
    border-radius: 5px;
  }

  #wpcf7-f322-p25-o2 input[type="submit"]:hover,
  #wpcf7-f776-p25-o3 input[type="submit"]:hover {
    background: #c02e44;
  }
}

@media screen and (min-width: 319px) and (max-width: 500px) {
  #wpcf7-f260-p27-o1 .wpcf7-form,
  #wpcf7-f776-p25-o3 .wpcf7-form {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 60px;
  }

  .img_bg_form {
    display: none;
  }

  .team_section {
    background-size: cover !important;
    background-position: 50% 50% !important;
    margin-top: -130px !important;
  }
  .team_section_title {
    padding-top: 200px !important;
  }
}

@media screen and (min-width: 375px) and (max-width: 782px) {
  p {
    font-size: 1rem;
  }

  .titre_accueil {
    font-size: 1.5rem !important;
    margin: 0 auto !important;
    width: 100% !important;
  }
  .image_accueil > figure > .wp-image-165 {
    margin-top: -40px;
  }
  .titre_banniere {
    font-size: 1.5rem;
    padding: 0 !important;
  }

  .rencontrer_titre {
    font-size: 1.5rem !important;
  }

  .team_section {
    background-size: cover !important;
    background-position: 50% 50% !important;
    margin-top: -130px !important;
  }
  .team_section_title {
    padding-top: 200px !important;
  }
}
@media screen and (min-width: 782px) and (max-width: 1024px) {
  /*ACCUEIL*/
  .titre_accueil {
    font-size: 1.625rem !important;
  }

  .image_accueil > figure > .wp-image-165 {
    margin-top: -80px;
  }

  .titre_banniere {
    font-size: 1.99rem !important;
  }

  .testimonial_name {
    text-align: center;
    margin-top: 20px !important;
  }

  .testimonial_text {
    text-align: center;
    font-size: 1em !important;
  }

  .testimonial_media {
    display: flex;
    flex-direction: column;
  }

  .testimonial_column {
    padding-left: 5.3%;
    padding-right: 5.3%;
  }

  .testimonial_media > figure > img {
    width: 50% !important;
    margin: 0 auto !important;
    padding-bottom: 35px !important;
  }

  /*NOUS RENCONTRER*/

  .rencontrer_titre {
    font-size: 1.9rem !important;
  }

  .rencontrer_top_flower > figure.aligncenter {
    position: absolute;
    width: 70% !important;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  #formulaire .section_1 {
    border-right: none;
    border-bottom: none;
    padding-bottom: 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0px;
  }

  #formulaire .section_2 {
    margin-top: 25px !important;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #wpcf7-f376-p25-o1 .form_quantite,
  #wpcf7-f776-p25-o3 .form_quantite {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .quantite {
    display: flex;
    gap: 10px;
    width: 23%;
  }

  /*formulaire Livraison*/

  #formulaire .section_1 {
    width: 50%;
  }

  #formulaire .section_2 {
    width: 50%;
    padding-left: 50px;
  }

  #wpcf7-f322-p25-o2 input[type="submit"],
  #wpcf7-f776-p25-o3 > #formulaire > [type="submit"] {
    margin-top: 80px !important;
  }

  .site-middle-footer-inner-wrap {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    grid-row-gap: 0px !important;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1400px) {
  /*ACCUEIL*/

  .titre_accueil {
    font-size: 2rem !important;
  }

  .titre_banniere {
    font-size: 2rem !important;
    padding: 1em;
  }

  .titre_banniere :nth-child(3) {
    font-size: 2rem !important;
    padding: 1em 2em;
  }

  .testimonial_column {
    padding-right: 4.3% !important;
    padding-left: 4.3% !important;
  }

  /*NOUS RENCONTRER*/

  .rencontrer_titre {
    font-size: 2.125rem !important;
  }
}
/* affichage des labels du formulaire uniquement sur mobile*/
@media screen and (min-width: 783px) {
  .form_quantite .label {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .site-middle-footer-inner-wrap {
    /* height: 70px;*/
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    grid-row-gap: 0px !important;
  }
}

.gout_banniere {
  min-height: 128px;
  min-width: 90%;
}
